body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff9ff;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#foto,
#foto img {
    height: 500px;
}

button{
    font-size:xx-large;
    background-color:unset;
    padding:1rem;
    transition:10ms ease-in-out;
}

button:hover{
    transform: scale(1,1);
}

.escondido {
    display: none;
}

